
/* navber area start*/
.main-nav{
    margin-top: 10PX;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.li-1{
    font-size: 17px;
    list-style: none;
    width: 80px;
    position: relative;
}

.li-1 a{
    text-decoration: none;
    color: #000;
}
.li-2{
    font-size: 17px;
    list-style: none;
    width: 80px;
    position: relative;
}
.li-2 a{
    text-decoration: none;
    color: #000;
}

.li-3{
    font-size: 17px;
    list-style: none;
    width: 80px;
    position: relative;
}
.li-3 a{
    text-decoration: none;
    color: #000;
}

.li-4{
    font-size: 17px;
    list-style: none;
    width: 80px;
    position: relative;
}
.li-4 a{
    text-decoration: none;
    color: #000;
}
.li-5{
    font-size: 17px;
    list-style: none;
    width: 80px;
    position: relative;
}
.li-5 a{
    text-decoration: none;
    color: #000;
}
/* .li-5:hover{
    background-color: #000;
} */
.line{
    position: absolute;
    width: 0px;
    border: 2px solid #F57703;
    visibility: hidden;
}
.li-1:hover .line{
    visibility: visible;
    transition: 0.9s;
    width: 80px;
}
.li-1 a:hover{
    color: #F57703;
}

.li-2:hover .line{
    visibility: visible;
    transition: 0.9s;
    width: 80px;
}
.li-2 a:hover{
    color: #F57703;
}

.li-3:hover .line{
    visibility: visible;
    transition: 0.9s;
    width: 80px;
}
.li-3 a:hover{
    color: #F57703;
}

.li-4:hover .line{
    visibility: visible;
    transition: 0.9s;
    width: 80px;
}.li-4 a:hover{
    color: #F57703;
}

.li-5:hover .line{
    visibility: visible;
    transition: 0.9s;
    width: 80px;
}
.li-5 a:hover{
    color: #F57703;
}

.bttn-1{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color:#F57703 ;
}
.bttn-1:hover{
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    color: #fff;
    transition: 0.9s;
}
.bttn-2{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    color: #fff;
}
.bttn-2:hover {
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(231, 227, 219));
    color: #000;
    transition: 0.9s;
}

@media only screen and (max-width: 900px) {
    .main-nav{
        display: flex;
    }
  }

@media only screen and (max-width: 800px) {
    .main-nav{
        display: flex;
        flex-direction: column;
    }
    .nav-button{
        display: flex;
        justify-content: center;
    }
  }
/* navber area end*/

/* <!-- baner area start --> */
.main-baner{
    width: 100%;
    display: flex;
}
.content-prart{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-box{
    display: flex;
}
.button-1{
    color: #000;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    border-radius: 50px;
    border: none;
    width: 28%;
    height: 50px;
}
.button-1:hover{
    color: #Fff;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(190, 186, 176));
    transition: 0.9s;
}
.button-2{
    background-color: #fff;
    border-radius: 50px;
    border: none;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items:stretch;
    margin-top: 8px;
}


.img-part{
    width: 50%;
}
@media only screen and (max-width: 900px) {
    .content-prart{
        width: 100%;
    }
    .img-part{
        width: 100%;
    }
}


@media only screen and (max-width: 760px) {
    .main-baner{
        display: flex;
        flex-direction: column;
    }
    .content-prart{
        width: 100%;
        order: 2;
    }
    .img-part{
        width: 100%;
        order: 1;
    }
}
/* <!-- baner area end --> */
.lis{
    font-size: 35px;
    padding: 10px;
}
@media only screen and (max-width: 760px){
    .bck-are ul{
        width: 100%;
    }
    .lis{
        font-size: 25px;
        padding: 5px;
    }
}

/* <!-- what we do start--> */
.we-do-box{
    display: flex;
}
.box-1{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-2{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-3{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* <!-- what we do end--> */

/* <!-- baner-2 area start --> */
.main-baner-2{
    display: flex;
    margin-top: 30px;
}
.baner-img-2{
    width: 50%;
}
.baner-content-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.baner-2-button{
    width: 120PX;
    height: 50PX;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    color: #fff;
}
@media only screen and (max-width: 900px) {
    .baner-content-2{
        width: 100%;
    }
    .baner-img-2{
        width: 100%;
    }
}
@media only screen and (max-width: 760px) {
    .main-baner-2{
        display: flex;
        flex-direction: column;
    }
    .baner-content-2{
        width: 100%;
    }
    .baner-img-2{
        width: 100%;
    }
}
/* <!-- baner-2 area start --> */

/* clint review area start */
.main-clint-review{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crcile{
    z-index: -1;
    position: absolute;
    background-color: #F3F3FB;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 60px;

}
.img-reveiw{
    position: relative;
    display: flex;
    flex-flow: wrap;
}
.reveiw-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.review-box-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.review-box-1:hover{
    transition: 0.9s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media only screen and (max-width: 760px) {
    .main-clint-review{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .reveiw-content{
        width: 100%;
        margin-top: 30px;
    }
    .img-reveiw{
        width: 100%;
    }
}
/* clint review area end */

/* cart area start */
.main-blog{
    margin-top:70px;
}
.cart-area{
    display: flex;
    justify-content: space-around;
}
.cart-1{
    width: 30%;
}
.cart-1 :hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cart-1:hover p{
    color: #F57703;
}

@media only screen and (max-width: 760px) {
    .cart-area{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cart-1{
        width: 80%;
        margin: 0 auto;
    }
}
/* cart area end */
/* sigin area start */
.sigin-area{
    margin-top: 100px;
    width: 100%;
    height: 30%;
    background-color: #F3F6FD;
    height: 300px;
    border-radius: 30px;
}
.sigin-main{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    height: 300px;
}
.part-1{
    width: 40%;
}
.part-2{
    width: 40%;
}

@media only screen and (max-width: 760px) {
    .sigin-main{
        display: flex;
        flex-direction: column;
        
    }
}
/* sigin area end */

/* <!-- footer start --> */
     .main-footer{
         background-color: #052347;
         width: 100%;
     }
     .footer-area{
         margin-top: 30px;
         width: 100%;
         height: auto;
         display: flex;
         margin-top: 50px;
         align-items: center;
     }
     .f-part-1{
         width: 60%;
         margin-top: 20px;
     }
     .f-part-2{
         width: 20%;
         margin-top: 20px;
     }
     .f-part-3{
         width: 20%;
         margin-top: 20px;
     }

     @media only screen and (max-width: 560px) {
        .f-part-1{
            width: 60%;
        }
        .f-part-2{
            width: 60%;
        }
        .f-part-3{
            width: 60%;
        }
        .footer-area{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
     }
     /* <!-- footer end --> */